<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Product</title>
</head>
<body>
	<h1>Enter Product Details</h1>

	<form action="#" th:action="@{/addProduct}" method="post">

		Name: <input type="text" name="name"> <br> <br>
		
		Category: <select name="category">
			<option value="Electronics">Electronics</option>
			<option value="Cloth">Cloth</option>
			<option value="Shoes">Shoes</option>
			<option value="Furniture">Furniture</option>
		</select> 
		
		<br> <br>
		
		 Price: <input type="text" name="price"> <br>
		<br> 
		
		<input type="submit" value="ADD"> | <input
			type="reset" value="RESET">

	</form>

	<hr>

	<a href="/register">New User</a>
</body>
</html>